# https://caddyserver.com/docs/
{
	admin "unix//run/caddy/admin.socket"
	email {$ACMEMAIL}
	persist_config off
	order webdav before file_server
}

import /etc/caddy/snippets.d/* 
{$HOSTS} {
	log
	encode

	handle_errors {
		respond "{err.status_code} {err.status_text}: {err.message}"
	}

	header Strict-Transport-Security "max-age=2592000"
	import /etc/caddy/routes.d/*

	error "idk man" 400
}
