# https://caddyserver.com/docs/
{
	admin "unix//run/caddy/admin.socket"
	email {$ACMEMAIL}
	persist_config off
	order webdav before file_server
}

import /etc/caddy/snippets.d/* 
{$HOSTS}
log
encode

import /etc/caddy/routes.d/*

respond "idk man" 400
